/* * {
    box-sizing: border-box;
} */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* previne rolagem horizontal desnecessária */
}

.header-navigation, .footer-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 600px) {
    .header-navigation, .footer-contato {
        width: 100%;
    }
}

.nav-navigation {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-navigation, .icones-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-contato {
    width: 100%;
    padding: 20px;
    margin: 0;
}

.header-navigation, .footer-contato {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}

.header-navigation {
    min-height: 5rem;
    border-bottom: 5px solid #8B80F9;
}

.footer-contato {
    min-height: 4rem;
    border-top: 5px solid #8B80F9;
}

@media(max-width: 600px) {
    .header-navigation, .footer-contato {
        width: 100%;
        flex-direction: column;
        padding: 10px;
    }
}